<div class="banner">
    <div class="content">
        <H5 class="text-white">Olá, eu sou</H5>
        <h1 class="text-white">Anderson<span class="text-danger"> Moura</span></h1>
        <h2 class="text-white">Desenvolvedor web<span class="text-danger"> & Designer</span></h2>
        <a routerLink="menu">Linkedin <i class="bi bi-linkedin"></i></a>
        <a routerLink="menu">Github <i class="bi bi-github"></i></a>
    </div>
</div>

<div class="background-color-sobre">
    <div class="Main-sobre col-6">
        <img src="./../../../assets/backgroundsobre.jpg.png">
        <h2 id="sobrelink">Sobre Mim</h2>
        <h5>Desenvolvedor<span> & Designer</span></h5>
        <p>Berserk é uma série de mangá escrita e ilustrada por Kentaro Miura. Situado em um mundo de fantasia
            sombria inspirado na Europa medieval, a história gira em torno de Guts, um solitário mercenário, e
            Griffith, o líder de um bando de mercenários chamado de "Bando do Falcão"</p>
    </div>
</div>

<div class="background-color-projeto">
    <div class="container mt-5 mb-4 text-center"><!--STEP FICAR SEPARADO-->        
        <H1 id="projetoslink">Meus projetos</H1>
        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <h1>1</h1>
                    <p>Projetos Angular 13 <BR> EM BREVE</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <h1>2</h1>
                    <p>Pokedex <BR> EM BREVE</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <h1>3</h1>
                    <p>Website <BR> EM BREVE</p>
                </div>
            </div>
        </div>
    </div>
</div>