<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid">
        <img src="./../../../assets/logotipo.png.webp" alt="Bootstrap" width="150" height="32">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"><!--ms-auto fez a navbar ir para o canto esquerdo-->
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#link2">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#sobrelink">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#projetoslink">Projetos</a>
                </li><!--HOME  tem que colocar option para permetir modificar-->
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#contatolink">Contato</a>
                </li>                             
            </ul>
        </div>
    </div>
</nav>